.header-v2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__nav {
    &--solid {
      background-color: $mc-dark;
    }

    &--gradient {
      background: linear-gradient(to top, rgba(0, 0, 0, 0) -4.25%, #000 72.32%);
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    height: 56px;
    margin: auto;
    max-width: 1200px;
    padding: 6px;
    position: relative;
  }

  &__logo {
    display: block;
    padding: 5px;

    img { height: 29px; }
  }

  &__wordmark { display: none; }

  &__content {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__user {
    align-items: center;
    cursor: pointer;
    display: flex;

    &__avatar {
      display: inline-block;
      vertical-align: middle;
      float: none;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      border-radius: 2px;
    }
  }

  &__nav-item {
    display: inline-block;
    margin-left: 12px;
    padding: 6px;
    cursor: pointer;
    user-select: none;

    &__label {
      color: $mc-light;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.12em;
      line-height: normal;
      opacity: 0.5;
      text-transform: uppercase;
    }

    &:hover,
    &--active {
      .header-v2__nav-item__label {
        opacity: 1;
      }
    }
  }

  &__course-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 18px;
  }

  &__course-name {
    color: $mc-light;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.12em;
    line-height: normal;
    opacity: 0.5;
    text-transform: uppercase;
  }

  &__instructor-name {
    @extend .header-v2__course-name;

    opacity: 1;
    margin-right: 4px;
  }

  // Mobile only
  @media (max-width: 768px) {
    &__wrapper { height: 36px; }

    &__course-wrapper { display: none; }

    &__logo { display: none; }

    &__content { flex: 0; }

    &__wordmark {
      display: block;
      margin: 0 auto;
      padding: 11px;
      text-align: center;
    }

    &__user {
      &__avatar { display: none; }

      .header-v2__nav-item__label { display: none; }
    }

    &__nav-item {
      padding: 0;
      margin: 0;
    }

    // Menu open state
    &__nav--menu-opened {
      height: 100vh;
      overflow: auto;

      .header-v2__wordmark {
        display: none;
      }
    }
  }
}
