.mobile-nav-button-v2 {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 30;

  &__close {
    font-weight: 700;
    line-height: 23px;
    font-size: 11px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
